@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.container-with-bg {
    width: 80%;
    margin: auto;
}
.container {
    width: 80%;
    margin: auto;
    padding: 80px 0;
    text-align: center;
}


.header {
    background-color: #FCEDF0;
}
.deal {
    padding: 60px 0;
    background-color: #FCEDF0;
}
.banner {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 66px;
    margin: 0;
    color: #272727;
}
h2 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

p {
    color: #7D7D7D;
}
.banner-left {
    padding-top: 80px;
    padding-right: 65px;
}

.banner-right img {
    width: 440px;
}
.btn {
    color: white;
    background-color: #E55473;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.category {
    /* padding: 60px 0; */
}

.pink-text {
    color: #E55473;
}

.category-gallery {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.category-gallery h3 {
    font-size: 16px;
    text-decoration: underline;
}
.img-box {
    min-height: 390px;
    border-radius: 50% 50% 0 0;
}
.img-box img {
    padding: 60px 40px 0 40px;
    padding: 60px 45px 0 45px;
    width: 220px;
    align-self: flex-end;
}
.box-1 img {
    display: block;
    margin-bottom: 0;
}

.box-1{
    background-color: #F2DEE8;
    margin-bottom: auto;
}

.box-2 {
    background-color: #DAF0F1;
}
.box-3 {
    background-color: #FDF6F8;
}
.flexbox {
    display: flex;
    justify-content: center;
}
.deal-left {
    padding: 0px 90px 0 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deal-right img {
    padding: 0 90px;
    width: 220px;
}
.insta-box-gallery {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.insta-box {
    width: 23%;
}
.insta-box img{
    width: 100%;
}
/* bonus section */

.wish-box {
    width: 25%;
    padding: 20px 0;
    text-align: center;
}
.wish-box-6 img{
    height: 137.78px;
    display: none;
}
.wish-box-6:hover img {
    display: block;
    position: absolute;
    margin-left: 80px;

}
.wish-box-text {
    font-family: 'Kalam', cursive;

}
.pink-bg {
    background-color: #FCEDF0;
}
.white-bg:hover {
    background-color: #FCEDF0;
}
.white-bg:hover h2 {
    color: #E55473;
}
.pink-bg:hover {
    background-color: white;
}
.pink-bg:hover h2 {
    color: #E55473;
}


/* bonus section */
.subscriber-box {
    padding: 80px 0px;
    background-image: url("../bg.png");
    background-size: cover;
}
input {
    padding: 12px 150px;
    width: auto;
    border: none;
}
.footer {
    background-color: #111010;
}
.footer-heading {
color: white;
font-size: 40px;
line-height: 36px;
}
.footer-text {
    color: white;
    font-size: 14px;
}
